head
    meta(charset='utf-8')
    title Create
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    script.
        function validateTags(container) {
            const isValid = (/^\w+(?:,\s.\w+(?:\w*\s*)*)*$/).test(container.value);
            const button = document.getElementById('submit');

            if (isValid) {
                container.style.backgroundColor = '#bfa';
                button.disabled = false;
            } else {
                container.style.backgroundColor = '#e38168';
                button.disabled = true;
            }

            return isValid;
        }
    body
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type="button", data-dismiss="modal")
                        span(aria-hidden="true") ×
                        span.sr-only Close
                    h4#myModalLabel.modal-title
                        | Edit Resource
                // Modal Body
                .modal-body
                    //#editForm.form(role='form' method='GET' action='https://www.google.com/')
                    form(role='form' method='POST' action='/search/add')
                        div.form-group
                            label(for='name') Title:
                            input#name.form-control(type='text', placeholder='Title' name='name')
                        div.form-group
                            label(for='authors') Authors:
                            input#authors.form-control(type='text', placeholder='Somebody' name='authors' onchange='validateTags(this)')
                        div.form-group
                            label(for='date') Pick date:
                            input#date.form-control(type='date', name='date')
                        hr

                        div.form-group
                            label(for='t') Tags:
                            input#t.form-control(type='text', placeholder='Somebody' name='tags' onchange='validateTags(this)')

                        hr
                        div.form-group
                            label(for='content') Input the content:
                            textarea#content.form-control(placeholder='Your content' name='content')

                        button.btn.btn-primary#submit(type="submit") Submit
